.map-padding {
    padding-bottom: 500px;
    background-image:
    url("map.jpg");
    background-repeat:
    no-repeat;
    background-size:
    70.5%;
    background-position:
    52% 12%;
    background-attachment:
    fixed;
}

h1 {
    color: black;
    text-align: center;
    font-family: "Bookman Old Style";
    font-weight: 1000;
    font-variant: small-caps;
    letter-spacing: 4px;
} 

