
#chatbox {
    height: 200px;
    max-width: 400px;
    overflow-y: scroll;
}

.map-padding {
    padding-bottom: 20px;
}

.card {
  height: auto;
  width: 10px;
}

.container {
  position: relative;
}

.container > canvas {
  position: absolute;
  top: 0;
  left: 0;
}

html{
    overflow-y: auto;
}

h1 {
    color: black;
    text-align: center;
    font-family: "Bookman Old Style";
    font-weight: 1000;
    font-variant: small-caps;
    letter-spacing: 4px;
} 

